.container{
    display: grid;
    gap: 0;
    grid-template-areas: 
    "recept3 "
    "recept2 "
    "recept4 "
    "recept1 "
    "knapp ";
}

 .första{
    grid-area: recept1;
    display: flex;
    justify-content: center;
 }

 .andra{
    grid-area: recept2;
    display: flex;
    justify-content: center;
 }

 .tredje{
    grid-area: recept3;
    display: flex;
    justify-content: center;
 }

 .fjärde{
    grid-area: recept4;
    display: flex;
    justify-content: center;
 }

.flerRknapp{
    grid-area: knapp;
    display: flex;
    justify-content: center;
}

/*media query!*/

 @media (max-width: 1600px){
    .container{
     grid-template-areas: 
     "recept1 recept2"
     "recept3 recept4"
     "knapp knapp";
    }
  }

 
 @media (max-width: 576px){
   .container{
    grid-template-areas: 
    "recept1 recept1"
    "recept2 recept2"
    "recept3 recept3"
    "recept4 recept4"
    "knapp knapp";
   }
 }
  


