@import 'https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,100;1,200&family=Noto+Serif+Display&display=swap';
:root{
    --black: #1c9577;
    --white: #b41313;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

*{
    font-family: 'Kanit', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html{
    font-size: 62.5%;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/* typ inte nödvändigt.. scrollgrejen till höger på websidor...*/


html ::-webkit-scrollbar{
    width: .8rem;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: #1c7595;
    border-radius: 5rem;
}

html ::-webkit-scrollbar-thumb:hover{
    background: #269cc6;
}

/* tror att hela headern ska hänga med? det stylear headern iaf*/ 

.header{
    top: 0; right: 0; left: 0;
    background-color: rgb(168, 214, 220);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
}

/* rubrik style typ (med img som kan vara vid rubriken*/
.header .logoContent{
    display: flex;
    align-items: center;
}


.header .logoContent .logo img{
    height: 4rem;
}

.header .logoContent .logoName{
    color:#2c2c2c;
    font-size: 2.5rem;
    font-weight: bold;
}

/*länkarna i nav*/

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color:#2c2c2c;
    font-weight: bold;
}

.header .navbar a:hover{
    border-bottom: .1rem solid rgb(17, 17, 17);
    padding-bottom: .4rem ;

}

.header .icon img{
    font-size: 2rem;
    margin-right: 2rem;
}

.header .search{
    display: none;
    top:100% ;
    margin: 1.5rem 7%;
    background-color:transparent;
    width: 50%;
    right: 0;
    height: 5rem;
    position: absolute;

}
.header .search input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: #c5dbdb;
    color: #000000;
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: #272727;
}

.header .search.active{
    display: inline-block;
}

#menyikon{
    display:none;
}

/*här börjar hem-relaterat*/

.hem{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/bakad.avif) no-repeat;
    background-size: cover;
    background-position: center center;
}

.hem .hemContent{
    width: 50%;
    float: left;
    text-align: center;
    padding: 4rem;
}

.hem .hemContent h2{
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: rgba(255, 255, 255, 0.94);
    text-shadow: #272727;
}

.hem .hemContent p{
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    color: #fff;
}

.hem .hemContent .hemknapp{
    height: 3rem;
}

.hem .hemContent .hemknapp button{
    font-size: 1.8rem;
    background-color: #477b9c;
    color: azure;
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}

.hem .hemContent .hemknapp button:hover{
    font-size: 2rem;
}

/*receptdelen här*/
section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: rgb(80, 134, 182);
}

.recept .recept-rad{
    margin-bottom: 2rem;
    align-items: center;
}

.recept .recept-rad .box{
    display:flex;
    flex-direction: column;
    width: 35rem;
    background-color: #1077ae85;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
    border-radius: 3rem;
    margin: 2rem;
}

.recept .recept-rad .img img{
    height: 100%;
    width: 100%;
}

.recept .recept-rad .img img:hover{
    transform: scale(1.1);
}

.recept .recept-rad .receptContent{
    margin-bottom: 3rem;
}

.recept .recept-rad .receptContent h3{
    font-size: 4rem;
    color: rgb(59, 68, 78);
     
}

.recept .recept-rad .receptContent p{
    font-size: 1.5rem;
    line-height:1.6rem;
    color:rgb(59, 68, 78);
}

.recept .recept-rad .receptContent .seRecept{
    height: 3rem;
    margin-top: 2rem;
}

.recept .recept-rad .receptContent .seRecept button{
    font-size: 1.8rem;
    background-color: rgb(80, 149, 192);
    color:rgb(59, 68, 78);
    border-radius: .7rem;
    padding: .7rem 2rem;
    cursor: pointer;
}

.recept .recept-rad .receptContent .seRecept button:hover{
    font-size: 2rem;
}

.recept .flerRknapp button{
    font-size: 2rem;
    background-color: #71c8ff;
    color:rgb(59, 68, 78);
    cursor: pointer;
    border-radius: .7rem;
    padding: .7rem 1.3rem;
}

.recept .flerRknapp button:hover{
    font-size: 2.3rem;
}

/*blogg-delen kommer här:*/
.blogg{
    background-color: #bcdff4;
    /*ev ändra till vanlig bakgrundsfärg, känns onödigt med en bild om den ba ska va grå*/
}
.blogg .blogg-rad .box{
    display: flex;
    align-items: center;
    background-color: #ffaaaa;
    flex-direction: row ;
}

.blogg .blogg-rad .box .img{
    flex: 1 1 45rem;
}

.blogg .blogg-rad .box .img img{
    width: 100%;
    padding: 4rem;
}

.blogg .blogg-rad .box .content{
    flex: 1 1 45rem;
    padding: 3rem;
}

.blogg .blogg-rad .box .content h3{
    font-size: 3.5rem;
    color:rgba(120, 2, 87, 0.597);
    text-shadow: #272727;
}

.blogg .blogg-rad .box .content p{
    font-size: 1.6rem;
    color: beige;
    padding: 1rem 0;
    line-height: 1.8;
}
.blogg .blogg-rad .box .content a{
    font-size: 2rem;
    cursor: pointer;
    color:rgba(120, 2, 87, 0.597);
}
.blogg .blogg-rad .box .content a:hover{
    color:beige;
    text-shadow: #272727;;
}


/*listan i blogg-delen*/
li{
    list-style:inside;
    color:beige;
    font-size: 1.4rem;
}



/*footer-sektionen*/
.footer{
    background-color: rgb(225, 243, 255);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.footer .box-container .mainBox .content{
    display:flex;
    align-items: center;
    margin-bottom: 2rem;
}

.footer .box-container .mainBox .content h1{
    font-size: 2rem;
    color: rgb(34, 77, 107);
}

.footer .box-container .mainBox p{
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: 1.4rem;
    text-align: left;
    color: hsl(180, 31%, 22%);
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: rgb(34, 77, 107);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:#828282;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    padding-right: 2rem;
    color: #272727;;
    font-size: 1.8rem;
}

.footer .box-container .box .fasfaicons{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1.5rem;
}

.footer .box-container .box .fasfaicons p{
    font-size: 1.4rem;
    color:#3f3f3f;
}

.footer .box-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer .box-container .box{
    flex:2;
    
}
.footer .box-container .mainBox{
    flex:1;
}

/*info-delen kommer här:*/
.info{
    background-color: #370050bc;
    padding: 5rem;
   }

.info .info-rad .box{
    display: flex;
    align-items: center;
    background-color: #fdceff;
    flex-direction: row ;
}

.info .info-rad .box .img{
    flex: 1 1 45rem;
}

.info .info-rad .box .img img{
    width: 100%;
    padding: 2.5rem;
}

.info .info-rad .box .content{
    flex: 1 1 45rem;
    padding: 3rem;
}

.info .info-rad .box .content h3{
    font-size: 4rem;
    color:rgba(102, 3, 141, 0.588);
    text-shadow: #272727;
}

.info .info-rad .box .content p{
    font-size: 1.6rem;
    color: rgb(90, 5, 126);
    padding: 1rem 0;
    line-height: 1.8;
}
.info .info-rad .box .content a{
    font-size: 2rem;
    cursor: pointer;
    color:rgb(72, 8, 54);
}
.info .info-rad .box .content a:hover{
    color:rgba(134, 28, 104, 0.69);
    text-shadow: #272727;;
}

/*info- slut */















/*media queries för responsiv sida*/

@media (max-width:576px){
    html{
        font-size: 50%;
    }
    .recept .recept-rad .box{
        width: 20rem;
    }
    .footer .box-container .box h3{
       font-size: 1.9rem;
    }
    .footer .box-container .box h1{
        font-size: 1.5rem;
    }

   
}

@media (max-width:768px){
    #menyikon{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: rgb(168, 218, 220);
        height: 40vh;
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        display: block;
        font-size: 2.5rem;
        color: #000000;
        margin: 1.5rem;
    }
    .hem .hemContent{
        margin-left: 0;
        width: 90%;
    }
    .recept .recept-rad .box{
        width: 24rem;
    }
    section{
        padding: 1.6rem;
    }
}

@media (max-width:992px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    } 
    /*den här gör ju inget..*/
    .hem .hemContent{
        margin-left: 0;
        width: 90%;
    }
}

@media (max-width:1200px){
    html{
        font-size: 60%;
    }
    .header{
        padding: 1.8rem 4rem;
    }
    .hem .hemContent{
        margin-left: 0;
        width: 100%;
    }
}

